<div class="body-container" data-simplebar="" data-simplebar-auto-hide="false">
  <div class="container">

    <div class="col-12 logo"></div>
    <h6 class="col-12 text-justify">
      SISTEMA DE LA INTEFRACIÓN CENTROAMERICANA (SICA)COMISIÓN CENTROAMRICANA DE DIRECTORES DE MIGRACCION DE TARJETA DE INGRESOS /
      EGRESOS
      DECLARACION JURADA ADUANERA DE INGRESO O EGRESO DE GUATEMALA / CUSTOMS SWORN STATEMENT OF ARRIVAL TO OR DEPARTURE FROM
      GUATEMALA
      DECLARACION JURADA DE TRASPORTE FÍSICO TRANSFRONTERIZO DE MONEDA O INSTRMENTOS NEGOCIABLES AL PORTADOR / SWORN STATEMENT OF
      PHYSICAL
      CROSSBORDER TRANSPORTATION OF CURRENCY AND BEARER NEGOTIABLE INSTRUMENTS
    </h6>

    <h6>
      Todo viajero que entra o sale de Guatemala, debe proporcional la siguiente información, la cual tiene carácter de declaración jurada.
      Consignar datos falsos o la omision de declarar artículos es delito. Art. 579 RECAUCA
      Each traveler who arrives to or departs from Guatemala must complete truthfully the following sta
    </h6>
    <app-capture-form></app-capture-form>

  </div>

</div>
