@import '~@angular/material/theming';

$font-size: 1rem;
$font-icon: Material-icons;

$font-colors: (
  primary: #CFD8DC,
  secondary: #546E7A
);

$primary-color: #009688;
$secondary-color: #FF9800;
$third-color:  #03A9F4;
